body {
    font-family: "Roboto";
    font-size: 12px;
}

.bg-yellow {
    background-color: yellow;
}

.bg-light-grey {
    background-color:#ebebeb;
}

.bg-white {
    background-color: white;
}
.nav-link {
    text-decoration: none;
    color: inherit;
}
.w-50 {
    width: 50%;
    text-align: justify;
}

.vw-90 {
    width: 90vw;
}


.p-1 {
    padding: 8px;
}
.p-2 {
    padding: 20px;
}
.subtitulo{
    text-align: center;
}
.banner {
    box-sizing: border-box;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.bt-1 {
    border-style: solid;
    border-top-width: 1px;
}

.truck-icon {
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
}
.text-xl {
    margin-right: 8px;
}
.border-grey {
    border-color: #ebebeb;
  }
.piedepagina {
    text-align: center;
    text-decoration: underline;
    background-color: #ebebeb;
    
}
  @media (min-width: 520px) {
  }
  
