<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"href="/CSS/normalize.css"/>
    <link rel="stylesheet"href="/CSS/styles.css"/>
    
    
    <title>MERCADO LIEBRE</title>
</head>
<body class="bg-light-grey">
    <header class="bg-yellow">
        <h1 class="w-50">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"/>
    </h1>
    <div class="p-2">
        <form action="/" class="p-1 bg-white">
            <input class= "flex-grow" type="text" name="search" placeholder="Buesca productos por nombre, marcas o palabras clave"/>
            <button type="submit" class="bg-white">
                <i class="fa-solid"></i>
            </button>
        </form>
    </div>
    
    <p class="subtitulo">
        <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de credito </p>
    
    <nav class="">
        <ul class="py-1">
            <li><a class="nav-link" href="#">Ofertas</a></li>
            <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
            <li><a class="nav-link" href="#">Vender</a></li>
            <li><a class="nav-link" href="#">Ayudas</a></li>
        </ul>
        <ul class="py-1">
            <li><a class= "nav-link" href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
            <li><a class= "nav-link" href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a class= "nav-link" href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
            <i class="fas fa-bars"></i>
    </div>

</header>
<img class="w-100"  src="/images/img-home-banner.jpg" alt="Promocion fiestas"/>
<main class="vw-90 mx-auto">
        <section class="p-1 flex-wrap gap">
            <h2 class="title w-100">Basado en tu ultima visita</h2>
            <article class="product">
                <img class="w-100" src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"/>
                <div class="bt-1 border-grey">
                    <i class="truck-icon"></i>
                    <p class="text-xl">$6.770</p>
                    <p class="color-green">40% off</p>
                    <h3 class="text-lg">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product">
                    <img class="w-100" src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019"/>
                    <div class="bt-1 border-grey">
                        <i class="truck-icon"></i>
                        <p class="text-xl">$230.000</p>
                        <p class="color-green">20% off</p>
                        <h3 class="text-lg">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product">
                    <img class="w-100" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10"/>
                    <div class="bt-1 border-grey">
                        <i class="truck-icon"></i>
                        <p class="text-xl">$70.500</p>
                        <p class="color-green">10% off</p>
                        <h3 class="text-lg">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product">
                    <img class="w-100" src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                    <div class="bt-1 border-grey">
                        <i class="truck-icon"></i>  
                        <p class="text-xl" >$23.200</p>
                        <p class="color-green">5% off</p>
                        <h3 class="text-lg">SmartTv Samsung 43"</h3>
                    </div>
                </article>       
        </section>
    </main>
    <footer>
        <ul class=" piedepagina">
            <li><a href="#">Pagá con tarjeta o en efectivo
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! <i class="fa-solid fa-credit-card"></i></a></li>
            <li><a href="#"><p>Envío gratis desde $ 2.500</p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. <i class="fa-solid fa-gift"></i></a></li>
            <li><a href="#">Seguridad, de principio a fin
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@. <i class="fa-solid fa-user-shield"></i></a></li>
            <li><a href="#">Copyright © 1999-2020 MercadoLiebre S.R.L.</a></li>
        </ul>
    </footer>
</body>
</html>
